<!-- Simple Section example -->
<section class="simple-section">
    <div class="page-width">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.text }}</p>
    </div>
</section>

{% schema %}
{
    "name" :    "Simple section",
    "presets": [
        {
            "name": "Simple section"
        }
    ]
}
{%  endschema %}
