<!-- Simple Section example -->
{% comment %} <section class="simple-section">
    <div class="page-width">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.text }}</p>
    </div>
</section> {% endcomment %}

<h1>Hello World</h1>